body{
    background-color: pink;
}
h1 {
    background-color: aqua;
    color:antiquewhite;
    margin: 50px 0px
}

#wrap{
    background-color:white;
    border:1px botted#555;
    padding: 10px 20px;
    margin: 50px 100px
}
p { text-align: center;}

.Intro { text-align: center;}
img { display: block; margin: 0px auto; }

h2{padding: 30px 100px; 
    border: 1px solid #222;  
    margin: 30px 100px
}
.Big {color:purple;
font-size:xx-large;}


/* ===================== 미디어쿼리======================= */
/* 미디어 종류 : all, print, screen, speech... 그밖에 장치는 검색! */
@media screen and (max-width: 768px) {
   body{
    background-color:aqua;
   } 
}

@media screen and (max-width: 500px) {
    body{
     background-color:aquamarine;
    } 
 }